@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.gallery .slick-slide > div {
  margin-right: 0px !important; /* Padding for the space between slides */
}

.pop-brands .slick-slide > div {
  margin-right: 5px !important; /* Padding for the space between slides */
}

.slick-slide > div {
  margin-right: 20px !important; /* Padding for the space between slides */
}

